{# empty Twig template #}
{% include '!template/header.twig' %}
{% if action=="login" %}
    {% include '!template/login.twig' %}
{%endif%}
{% if action=="list" %}
    {%include '!template/admin/admintable.twig'%}    

{% elseif action=="add" %}
    {%include '!template/admin/add.twig'%}    

{% elseif action=="edit" %}
    {%include '!template/admin/edit.twig'%}    
{% endif %}
{% include '!template/footer.twig' %}