{% include '!template/header.twig' %}
{% if action=="view" %}
    {% include '!template/faqGroup.twig' %}
{%endif%}
{% if action=="new" %}
    {% include '!template/AddQuestion.twig' %}
{%endif%}

{% include '!template/footer.twig' %}

