{# empty Twig template #}
<div class="row">
    <form class="col s8 offset-s2" action="{{url}}/admin/add" method="post">
        {% if page=="Admins"%}
            <div class="row">
                <div class="input-field col s3">
                    <input  id="user_name" name="Admins-login" type="text" class="validate">
                    <label for="user_name">Логин</label>
                </div>
                <div class="input-field col s3">
                    <input id="pass" type="password" name="Admins-pass" class="validate">
                    <label for="pass">Пароль</label>
                </div>
                <div class="input-field col s3">
                    <input id="email" type="email" name="Admins-mail" class="validate">
                    <label for="email">email</label>
                </div>
            </div>
        {% endif%}
        {% if page=="Categories"%}
            <div class="row">
                <div class="input-field col s3">
                    <input  id="Category" name="Category" type="text" class="validate">
                    <label for="Category">Название категории</label>
                </div>
              
            </div>
        {% endif%}
        <div class='row'>
            <div class='col s3'>
                <button class="btn waves-effect waves-light left" type="submit" name="save">Сохранить
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class='col s3'>
                <a href='{{undo}}' class="btn waves-effect waves-light right"  name="undo">Отмена
                    <i class="material-icons right">replay</i>
                </a>
            </div>
        </div>
    </form>
</div>