{# empty Twig template #}
<br>
{% if page=='Admins' or page=='Categories' %}
    
        
            <a  class="btn-floating btn-large waves-effect waves-light red " href="{{url}}/admin/add/?new={{page}}" title="Добавить новую запись"><i class="material-icons">add</i>Добавить</a>
      
   
{% endif %}
<table class="bordered striped highlight centered responsive-table">
    <thead>
        <tr>
            {% for th in titletable %}
                <th data-field="{{loop.index}}">{{th}}</th>
                {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{admin.login}}</td>
                <td>{{admin.email}}</td>
                <td>{{admin.date}}</td>
                <td>
                    <a href="{{url}}/admin/edit/?{{page}}={{admin.id_admin}}" class="btn" title="редактировать">
                        <i class="material-icons left">mode_edit</i>
                    </a>
                    <a href="{{url}}/admin/del/?{{page}}={{admin.id_admin}}" class="btn" title="удалить">
                        <i class="material-icons left">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for question in questions %}
            <tr>
                <td class="col s4 left-align">{{question.question|raw}}</td>
                <td>{{question.category}}</td>
                <td>{{question.name}}</td>
                <td>{{question.status}}</td>
                <td>{{question.date}}</td>
                <td>
                    <a href="{{url}}/admin/edit/?{{page}}={{question.id_question}}" class="btn" title="редактировать">
                        <i class="material-icons left">mode_edit</i>
                    </a>
                    <a href="{{url}}/admin/del/?{{page}}={{question.id_question}}" class="btn" title="удалить">
                        <i class="material-icons left">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for author in authors %}
            <tr>
                <td>{{author.name}}</td>
                <td>{{author.email}}</td>
                <td>{{author.date}}</td>
                <td>
                    <a href="{{url}}/admin/edit/?{{page}}={{author.id_users}}" class="btn" title="редактировать">
                        <i class="material-icons left">mode_edit</i>
                    </a>
                    <a href="{{url}}/admin/del/?{{page}}={{author.id_users}}" class="btn" title="удалить">
                        <i class="material-icons left">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for category in categories %}
            <tr>
                <td>{{category.category}}</td>

                <td>{{category.count.moderate}}</td>
                <td>{{category.count.posted}}</td>
                <td>{{category.count.hidden}}</td>
                <td>{{category.count.hidden+category.count.posted+category.count.moderate}}</td>

                <td>{{category.login}}</td>
                <td>
                    <a href="{{url}}/admin/edit/?{{page}}={{category.id_category}}" class="btn" title="редактировать">
                        <i class="material-icons left">mode_edit</i>
                    </a>
                    <a href="{{url}}/admin/del/?{{page}}={{category.id_category}}" class="btn" title="удалить">
                        <i class="material-icons left">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>