{# empty Twig template #}



<nav>
    <div class="nav-wrapper">
       
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            
            <li><a href="{{url}}/admin/admins"><i class="material-icons left">perm_identity</i>Администраторы</a></li>
            <li><a href="{{url}}/admin/categories"><i class="material-icons left">turned_in</i>Категории</a></li>
            <li><a href="{{url}}/admin/questions"><i class="material-icons left">forum</i>Вопросы</a></li>
            <li><a href="{{url}}/admin/authors"><i class="material-icons left">person_pin</i>Авторы</a></li>
        </ul>
        <ul class=" left-align side-nav" id="mobile-demo">
            
            <li><i class="material-icons left red-text">perm_identity</i><a href="{{url}}/admin/admins">Администраторы</a></li>
            <li><i class="material-icons left red-text">turned_in</i><a href="{{url}}/admin/categories">Категории</a></li>
            <li><i class="material-icons left red-text">forum</i><a href="{{url}}/admin/questions">Вопросы</a></li>
            <li><i class="material-icons left red-text">person_pin</i><a href="{{url}}/admin/authors">Авторы</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            {% if countnew>0 %}
                <li><a class="waves-effect waves-light btn-large " href='{{url}}/admin/unreadquestions'>Новые вопросы: {{countnew}}</a></li>
                {%endif%}
            
            <li><a class="waves-effect waves-light btn-large " href='{{url}}/admin/logout'>Выход</a></li>
        </ul>
    </div>

</nav>
        <script>
            $(".button-collapse").sideNav();
            </script>


<!-- Modal Structure -->