{# empty Twig template #}
<div class="row">
    <form class="col s8 offset-s3" action="{{url}}/admin/{{action}}" method="post">
        {% if page=="Admins"%}
            <div class="row">
                <div class="input-field col s2">
                    <input  id="user_name" name="Admins-login" type="text" class="validate" value='{{admin_name}}' readonly>
                    <label for="user_name">Логин</label>
                </div>
                <div class="input-field col s2">
                    <input  id="user_name" name="Admins-email" type="email" class="validate" value='{{admin_email}}' >
                    <label for="user_name">email</label>
                </div>
                <div class="input-field col s2">
                    <input id="email" type="password" name="Admins-pass" class="validate">
                    <label for="email">Пароль</label>
                </div>
                <input  type="hidden" name="id_admin" value="{{id_admin}}">
            </div>
            <br>
        {% endif%}
        {% if page=="Categories"%}
            <div class="row">
                <div class="input-field col s3 offset-s1">
                    <input  id="Category" name="Category" type="text" class="validate" value='{{Category}}'>
                    <input   name="id_category" type="hidden" value='{{id_category}}'>
                    <label for="Category">Название категории</label>
                </div>

            </div>
        {% endif%}
        {% if page=="Questions" %}
            <div class="row">
                <div class="input-field col s3 offset-s1">
                    <input   name="question_id" type="hidden" readonly value="{{id_question}}">
                    <input   name="answer_id" type="hidden" readonly value="{{id_answer}}">
                    <input  id="user_name" name="user_name" type="text" readonly value="{{name}}">
                    <label for="user_name">Имя автора</label>
                </div>
                <div class="input-field col s3">
                    <input id="email" type="text" name="email" readonly value="{{email}}">
                    <label for="email">e-mail</label>
                </div>


            </div>
            <div class="row">
                <br>
                <div class="browser-default col s4"> 
                    <label for="status">Статус вопроса</label>
                    <select id="status" class="browser-default " name="status">
                        <option  value="moderate" {% if status=='moderate' %}selected{%endif%}>На модерации</option>
                        <option  value="posted"{% if status=='posted' %}selected{%endif%}>Опубликован</option>
                        <option  value="hidden"{% if status=='hidden' %}selected{%endif%}>Скрытый</option>
                    </select>
                </div>
                <div class="browser-default col s4">  
                    <label for="category">Категория вопроса</label>
                    <select id="category" class="browser-default  " name="id_category">
                        <option  value="{{id_category}}" selected>{{category}}</option>
                        {% for category in categories%}
                            {% if category.id_category != id_category%}
                                <option  value="{{category.id_category}}">{{category.category}}</option>
                            {%endif%}
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <textarea id="question" name="question" class="materialize-textarea" >{{question}}</textarea>
                    <label for="question">Текст вопроса</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <textarea id="question" name="answer" class="materialize-textarea" >{{answer}}</textarea>
                    <label for="question">Текст ответа</label>
                </div>
            </div>

        {% endif%}
        {% if page=="Authors" %}
            <div class="row">
                <div class="input-field col s3 offset-s1">
                    <input   name="id_users" type="hidden"  value="{{id_users}}">
                    <input  id="user_name" name="Authors_name" type="text"  value="{{name}}">
                    <label for="user_name">Имя автора</label>
                </div>
                <div class="input-field col s3">
                    <input id="email" type="text" name="Authors_email"  value="{{email}}">
                    <label for="email">e-mail</label>
                </div>
            </div>
        {%endif%}
        <div class='row'>
            <div class='col s3'>
                <button class="btn waves-effect waves-light left" type="submit" name="save">Сохранить
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class='col s3'>
                <a href='{{undo}}' class="btn waves-effect waves-light right"  name="undo">Отмена
                    <i class="material-icons right">replay</i>
                </a>
            </div>
        </div>
    </form>
</div>