{# empty Twig template #}
<div class="row">
    <form class="col s8 offset-s4" action="{{url}}/index/addQuestion" method="post">
        <div class="row">
            <div class="input-field col s3">
                <input  id="user_name" name="user_name" type="text" class="validate">
                <label for="user_name">Ваше имя</label>
            </div>
            <div class="input-field col s3">
                <input id="email" type="text" name="email" class="validate">
                <label for="email">e-mail</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <textarea id="question" name="question" class="materialize-textarea"></textarea>
                <label for="question">Текст вопроса</label>
            </div>
        </div>


        <select class="browser-default col s6" name="category_id">
            <option value="" disabled selected>Выберите категорию для вопроса</option>
            {% for category in categories%}
                <option  value="{{category.id_category}}">{{category.category}}</option>
            {%endfor%}
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="btn waves-effect waves-light" type="submit" name="action">Спросить
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>