<section class="cd-faq">
    {% include '!template/side.twig' %}
    <div class="cd-faq-items">

        {% for category in faq%} 
            <ul id="{{category.category_name|replace({' ': '_'})}}" class="cd-faq-group">
                <li class="cd-faq-title"><h2>{{category.category_name}}</h2></li>
                        {% for id in category.questions%} 
                    <li>
                        <a class="cd-faq-trigger" href="#0">{{id.question}}</a>
                        <div class="cd-faq-content">
                            <p>{{id.answer}}</p>
                        </div> <!-- cd-faq-content -->
                    </li>
                {%endfor%}
            </ul> <!-- cd-faq-group -->
        {%endfor%}
    </div> <!-- cd-faq-items -->
    <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
{# empty Twig template #}
