    


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Веб-сервис вопросов и ответов</h5>
                <br>
                <p class="grey-text text-lighten-4">Данный сервис был разработан для защиты дипломной работы в Нетологии.</p>
            </div>
            <div class="col l4 offset-l2 s12">

                <ul>
                    <li><a class="grey-text text-lighten-3" href='{{url}}/index/newQuestion'>Добавить вопрос</a></li>
                    
                    <li><a class="grey-text text-lighten-3" href="{{url}}/admin/login">Вход администратора</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Цыбульник Денис
            <a class="grey-text text-lighten-4 right" href="#!">Tsibulnik.ru</a>
        </div>
    </div>
</footer>
<script>
   
</script>
</body>
</html>{# empty Twig template #}
