{# empty Twig template #}
<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="{{url}}/css/reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="{{url}}/css/style.css"> <!-- Resource style -->
        <link rel="stylesheet" href="{{url}}/css/materialize.min.css"> <!-- materialize style -->
        <script src="{{url}}/js/modernizr.js"></script> <!-- Modernizr -->
        <script src="{{url}}/js/jquery-2.1.1.js"></script>
        <script src="{{url}}/js/materialize.min.js"></script> <!-- materialize -->
        <script src="{{url}}/js/main.js"></script> <!-- Resource jQuery -->

        <script src="{{url}}/js/jquery.mobile.custom.min.js"></script>
        <title>{{titlepage}}</title>

    </head>
    <body>
        <header>
            {% if admin==1 %}
                {% include '!template/admin/adminmenu.twig' %}
            {% else %}
                <nav>
                    <div class="nav-wrapper">
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="{{url}}">ГЛАВНАЯ</a></li>
                            <li><a href='{{url}}/index/newQuestion'>Задать вопрос</a></li>
                            <li><a href="{{url}}/admin/login">Вход админа</a>
                        </ul>
                        <ul class=" left-align side-nav" id="mobile-demo">
                            <li><a href="{{url}}">ГЛАВНАЯ</a></li>
                            <li><a href='{{url}}/index/newQuestion'>Задать вопрос</a></li>
                            <li><a href="{{url}}/index/login">Вход админа</a>
                        </ul>
                    </div>
                </nav>
            {% endif %}
            <script>
                $(".button-collapse").sideNav();
            </script>
            <h1>{{H1}}</h1>
            <p class="red-text ">{{error}}</p>
            <b class="green-text">{{info}}</b>
        </header>

