{# empty Twig template #}
<br>
<form class="col s7  " action="{{url}}/admin/login" method="post">

    <div class="row">
        <div class="input-field col s2 offset-s3">
            <input   id="admin_name" name="admin_name" type="text" class="validate grey-text">
            <label for="admin_name" >Логин</label>
        </div>
        <div class="input-field col s2 offset-s1">
            <input   id="admin_pass" name="admin_pass" type="password" class="validate grey-text">
            <label for="admin_pass" >Пароль</label>
        </div>
    </div>

    <div class="row">
        <div class=" col s5 offset-s5">
            <button  class="btn">Войти</button>
        </div>
    </div>

</form>
<br>