            <ul class="cd-faq-categories">
                {% for category in faq%} 
                    <li>
                        <a  href="#{{category.category_name|replace({' ': '_'})}}">{{category.category_name}}</a>
                    </li>
                {%endfor%}
            </ul> <!-- cd-faq-categories -->
    {# empty Twig template #}
